.bold {
    font-weight: bold;
}
#recipient-search {
    margin-top: 10px;
    margin-left: 5px;
    width: 96%;
    height: 30px;
    padding: 10px;
    font-size: 12px;
    border: 1px solid #ddd;
    border-radius: 20px;
}
#recipient-submit {
    padding: 5px;
    width: 19%;
    font-weight: bold;
    display: none;
}
.recipient-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.recipient-list li {
    padding: 10px;
    list-style: none;
    /* border-bottom: 1px solid #848383; */
}
.recipient-list li a {
    font-size: 16px;
    display: block;
}
.messages-wrapper-recipients {
    overflow-y: scroll;
    height: 70%;
    background-color: #fff;
    width: 20%;
    float: left;
}
.messages-wrapper {
    float: left;
    /* border: 1px solid #000; */
    height: 70%;
    width: 80%;
    background-color: #fff;
    overflow-y: scroll;
    float: right;
}
#input-message {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-top: 1px solid #ccc;
}
#input-message-submit {
    padding: 10px;
    width: 9%;
    height: 50px;
    font-weight: bold;
    border: none;
    cursor: pointer;
} 
#input-message-submit:hover {
    background: #ddd;
}
.message-box {
    width: 70%;
    padding: 10px;
    margin: 10px;
}
.message-receive {
    background-color: #848383;

}
.message-sent {
    background-color: #5574f0;
    margin-left: auto; 
    margin-right: 10px;
}
.form-button-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}